
.formControl.error input
  border: #c90813 solid 1px
  margin-bottom: 0

.formControl.error
  color: #c90813
  font-size: 11px

  //for Formik

//.error input
//  border: #c90813 solid 1px


//relevant for Formik

.textInput:focus
  border-bottom: solid 1px #eab700
.textInput.error
  border: solid 1px #c90813
  margin-bottom: 5px

.inputFeedback
  color: #c90813
  border: #06a4ff
  font-size: 11px

.error
  text-align: center
  color: #c90813
  margin-top: 15px