.contact
  //margin-left: 20px
.formCommonError
  color: #c90813
  //padding: 0 0 20px 0
  text-align: center

.profileForm
  display: flex
  flex-direction: column
  margin: 20px
  padding: 20px
  text-align: center
  border: solid 1px #3e3e3e
  border-radius: 20px
  background: #292929

  p
    color: #5cd1f5
    font-weight: bold

  input
    margin: 0 0 30px 0
    padding: 5px 0
    width: 100%
    background: #535353
    border: none
    //border-bottom: solid 1px #7a7a7a
    border-radius: 3px
    color: #ffaf00
    text-align: center

  textarea
    background-color: #3e3e3e
    border: none
    border-radius: 10px
    padding: 10px
    margin: 0 10px 30px 10px
    color: #ffffff
    resize: vertical

  span
    color: #ffffff
    //text-align: left

  button
    width: 100%
    //padding: 5px 20px
    //margin: 10px
    border: none
    border-radius: 5px
    transition: all .3s
    cursor: pointer
    background: #838383
    &:hover
      background: #ffffff

