
.wrapperContent
  grid-area: content
  display: grid
  grid-template-columns: 1fr 2fr
  grid-template-areas: "description description" "posts posts"
  background: #535353
  align-content: flex-start




