
.wrapper
  background: #535353
  text-align: center

.wrapperContent
  grid-area: content
  background: #535353
  display: grid
  grid-template-columns: repeat(3, 1fr)
  color: #ff6e0f

.formsBody
  margin: 20px
  display: flex
  flex-direction: column
  align-items: center
  button
    margin: 10px
