.friends
  display: flex
  flex-direction: column
  align-items: center


.friendsItem
  display: grid
  grid-template-columns: repeat(2, 150px)
  grid-row-gap: 25px
  justify-content: center

.arrow
  img
    width: 25px
    margin: 20px
    cursor: pointer


