.title
  text-align: center
  h3
    color: #c08403

.friends
  display: flex
  flex-direction: column
  align-items: center


.friendsItem
  display: grid
  grid-template-columns: repeat(1, 150px)
  grid-row-gap: 25px
  justify-content: center
  img
    //object-fit: cover


.arrowDown, .arrowUp
  svg
    width: 25px
    margin: 20px
    cursor: pointer
    fill: #888888
    transition: all .3s
  svg:hover
    fill: #06a4ff

.arrowDown
  svg:hover
    transform: translateY(4px)
.arrowUp
  svg:hover
    transform: translateY(-4px)


    //svg
    //  fill: #06a4ff

    //object-fit: cover


