.posts
  grid-area: posts
  margin-left: 20px

.newPost
  display: flex
  flex-direction: column
  margin: auto 100px
  .news
    background: #d8d8d8 
    height: 80px 
    text-align: left
    padding-left: 20px
    border-radius: 20px
  .buttonSend
    align-self: flex-end
    background: #c08403
    width: 80px
    border-radius: 40px  
    display: block
    text-align: center
    margin-top: 20px
    a
      display: block
      height: 100%
      text-decoration: none
      color: #000000
      padding: 5px 
