
.wrap
  grid-area: description
  display: flex

.userDescription
  margin: 0 0 0 30px

  h2
    text-align: center
    color: #000000

.work
  //position: relative
  display: flex
  align-items: center
  img
    //position: absolute
    //left: 130px
    //top: 0
    height: 25px
    width: 25px
    margin-left: 30px


.avatarItem
  display: flex
  flex-direction: column

.avatar
  justify-self: center
  align-self: center
  width: 220px
  height: 220px
  margin: 30px 30px 5px 30px
  border-radius: 10%

.plusIcon
  width: 20px
  align-self: center
  cursor: pointer

.minusIcon
  text-align: center

.profileDataWrapp
  display: flex
  flex-direction: column
.contact
  a
    color: #115fff
.editIcon
  margin: 20px 10px 0 auto

  img
    width: 20px
    cursor: pointer