
.wrap
  grid-area: description

.descriptionWrap
  margin: 90px 20px 0 20px
  padding: 0 20px
  background-color: #303030
  border-radius: 10px
  position: relative
  box-shadow: #2f2f2f 5px 5px 50px


.userDescription
  margin: 0 0 0 50px
  padding-bottom: 20px

.nikName
  text-align: center
  font-size: 26px
  font-weight: 500
  margin-bottom: 0
  color: #bebebe

.work
  //position: relative
  display: flex
  align-items: center

  img
    //position: absolute
    //left: 130px
    //top: 0
    height: 25px
    width: 25px
    margin-left: 30px


.avatarItem
  display: flex
  flex-direction: column
  //position: relative


.avatar
  justify-self: center
  align-self: center
  width: 150px
  height: 150px
  background-color: #303030
  //margin: 30px 30px 5px 30px
  border: 1.5px #797979 solid
  border-radius: 50%
  position: absolute
  top: -75px
  left: 50px

.wrappIcon
  display: none
  width: 30px
  height: 30px
  border-radius: 50%
  background: #a4a4a4
  position: absolute
  top: -65px
  left: 55px

.plusIcon
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 20px
  align-self: center
  cursor: pointer

.minusIcon
  text-align: center

.profileDataWrapper
  padding: 20px 0 0 0
  p
    color: #9b9b9b

  span
    font-size: 18px
    color: #ffffff
    word-break: break-word
    padding-left: 10px


//.editItem
//  display: flex

.contact
  a
    transition: all .2s
    color: #969696

  & a:hover
    color: #ffffff

.editIcon
  text-align: right
  padding: 20px 20px 0 0
  position: absolute
  right: 0
  svg
    //width: 20px
    cursor: pointer
    fill: #808080
    transition: all .2s
  svg:hover
    transform: translateY(-2px) scale(1.1)
    fill: #ffffff

//buttons
.unSub
  background: #969696
  color: lighten(#333333, 15%)
  border: none
  margin: 30px 30px
  box-shadow: 0 2px 8px #000000
  outline: none
  cursor: pointer
  transition: all, .2s
  position: absolute
  right: 0
  padding: 10px

  &:hover
    box-shadow: 0 1px 5px #000000
    background: darken(#969696, 12%)

  &:disabled
    color: lighten(#333333, 60%)
    box-shadow: 0 1px 5px #000000

.sub
  background: #c90813
  border: none
  margin: 30px 30px
  box-shadow: 0 2px 8px #000000
  outline: none
  cursor: pointer
  transition: all, .2s
  color: #ffffff
  position: absolute
  right: 0
  padding: 10px

  &:hover
    box-shadow: 0 1px 5px #000000
    background: darken(#c90813, 10%)

  &:disabled
    color: lighten(#333333, 50%)
    box-shadow: 0 1px 5px #000000
    background: lighten(#c90813, 30%)

