.nav
  grid-area: nav
  background: #333333
  padding: 30px
  display: flex
  flex-direction: column


.link
  display: flex

.item
  padding: 5px 0
  a
    color: #ffffff
    text-decoration: none
    transition: all .2s
    fill: #ffffff
    svg
      width: auto
      height: 22px
      padding: 0 15px 0 0

.item a:hover
  color: #a8a8a8
  fill: #a8a8a8

//.item svg:hover
//  width: 25px
//  height: 25px

.item a.active
  color: #06A4FF
  fill: #06a4ff


