
.nav
  grid-area: nav
  background: #3887ff
  padding: 20px
  display: flex
  flex-direction: column
  // justify-content: space-between



.item 
  &:last-child
    // justify-self: flex-end
    margin-top: auto
  a
    color: #ffffff
    text-decoration: none

.item a.active
  color: #1300ff

