.page
  color: #ffffff
  margin: 10px
  text-align: center

  img
    cursor: pointer
    width: 12px
    padding: 0 20px

  span
    padding: 10px
    cursor: pointer
    transition: all, .2s

    &:hover
      color: #a8a8a8

.page span.changePage
  color: #3277ff
  //font-weight: bold