.wrapperContent
  grid-area: content
  display: grid
  grid-template-columns: 2fr 8fr

.dialogs
  background: #535353
  padding: 30px
.dialog
  padding: 10px 0
  a
    text-decoration: none
    color: #ff6e0f
    transition: all .2s
.dialog a:hover
  color: #fdb964

.chat
  background: #fff0b9
  padding: 20px